.button {
  width: 100%;
  position: relative;
  background: #cccccc;
}

ul {
  display: none;
  position: absolute;
  width: inherit;
  z-index: 1;
}

.show {
  display: block;
  background: white;
}
