<div class="calendar-day__holder-tasks-item">
  <div class="calendar-day__hour">
    <h5 *ngIf="timer.finished_at">
      {{ timer.created_at | date:'H:mm' }} -
      {{ timer.finished_at | date:'H:mm' }}
    </h5>

    <!--TODO: show some spinner for current timer-->
    <h5 *ngIf="!timer.finished_at">{{ timer.created_at | date:'H:mm' }} - ...</h5>
  </div>
  <div class="calendar-day__col--active">
    <form>
      <div class="calendar-day__col-title">
        <textarea class="calendar-day__col-title-field"
                  rows="1"
                  autosize
                  name="taskName"
                  [(ngModel)]="timer.task_name"
                  required
                  #nameInputElement
                  #nameInput="ngModel"
                  (keydown.enter)="nameInputElement.blur()"
                  (blur)="updateTimerNameHandler(nameInput)"
                  (focus)="disableTimersUpdate()">
        </textarea>
        <div class="text_area_div"></div>
      </div>
      <div class="calendar-day__item-select">
        <select
          required
          [(ngModel)]="timer.project_ext_name" name="timer_project"
          (ngModelChange)="selectProjectHandler($event)"
          (focus)="disableTimersUpdate()">
          <option *ngFor="let project of projects">
            {{project.ext_name}}
          </option>
        </select>
      </div>
      <div
        [ngClass]="{'calendar-day__btn-pause': !timer.finished_at}"
        class="calendar-day__btn calendar-day__btn--active"
        (click)="startStopClickHandler()">
      </div>
      <div class="calendar-day__btn__item-hour">
        <textarea class="calendar-day__btn__item-hour-field"
                  [disabled]="!timer.finished_at"
                  (focus)="disableTimersUpdate()">
          {{timer.minToHours()}}
        </textarea>
        <div class="text_area_div"></div>
      </div>
      <button class="calendar-day__close"></button>
    </form>
  </div>
</div>
