<div class="calendar-day__holder-tasks-item">
  <div class="calendar-dday__hour">
    <h5 *ngIf="timer.finishedAt">
      {{ timer.createdAt | date:'H:mm' }} -
      {{ timer.finishedAt | date:'H:mm' }}
    </h5>

    <!--TODO: show some spinner for current timer-->
    <h5 *ngIf="!timer.finishedAt">{{ timer.createdAt | date:'H:mm' }} - ...</h5>
  </div>
  <div class="calendar-dday__col--active">
    <form action="">
      <div class="calendar-dday__col-title">
        <h4>{{timer.taskName}}</h4>
      </div>
      <div class="calendar-dday__item-select">
        <select>
          <option
            *ngFor="let project of projects"
            [selected]="timer.projectExtName === project.ext_name">
            #{{project.ext_name}}
          </option>
        </select>
      </div>
      <div
        [ngClass]="{'calendar-dday__btn-pause': !timer.finishedAt}"
        class="calendar-dday__btn calendar-dday__btn--active"
        (click)="startStopClickHandler()">
      </div>
      <div class="calendar-dday__btn__item-hour">
        <h3>{{timer.minToHours()}}</h3>
      </div>
      <button class="calendar-dday__close"></button>
    </form>
  </div>
</div>
