<body>
<div id="wrapper">
  <aside id="sidebar">
    <div class="sidebar-header">
      <div class="header__user">
        <form>
          <select>
            <option>TunaTimerDevelop</option>
            <option>@ Sergey_Sokolenko</option>
            <option>@ Artem_Zhuravlev</option>
            <option>@ Ivan_Ivanov</option>
          </select>
        </form>
      </div>
      <div class="sidebar-total">
        <h3 class="sidebar-total__title">Your total for today is </h3>
        <h4 class="sidebar-total__hour">8:20 <span>h</span></h4>
        <button class="sidebar__task_btn">ADD TASK</button>
      </div>
    </div>

    <ul class="sidebar-tabs">
      <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>
        Status</a></li>
      <li class="sidebar-tabs__active"><a href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i>
        Report</a></li>
    </ul>
    <div class="sidebar-chanells">
      <h3 class="sidebar-chanells__title"><i class="fa fa-code-fork" aria-hidden="true"></i> Chanel</h3>
      <div class="sidebar-chanells__nav">
        <form action="">
          <div class="sidebar-chanells__nav-col">
            <label for="ui_ux" class="ui_ux">#ui_ux</label>
            <input type="checkbox"  class="checkbox" id="ui_ux">
          </div>
          <div class="sidebar-chanells__nav-col">
            <label for="useful-links" class="useful-links">#useful-links</label>
            <input type="checkbox"  class="checkbox" id="useful-links">
          </div>
          <div class="sidebar-chanells__nav-col">
            <label for="tuna-timer" class="tuna-timer">#tuna-timer</label>
            <input type="checkbox"  class="checkbox" id="tuna-timer">
          </div>
          <div class="sidebar-chanells__nav-col">
            <label for="tuna-timer_dev" class="tuna-timer_dev">#tuna-timer_dev</label>
            <input type="checkbox"  class="checkbox" id="tuna-timer_dev">
          </div>
        </form>
      </div>
    </div>

    <button class="sidebar-chanells-btn">+ Add new chanel</button>
    <div class="sidebar-color">
      <!-- 			<h3 class="sidebar-color__title"><i class="fa fa-paint-brush" aria-hidden="true"></i> Color scheme</h3> -->
      <div class="sidebar-color__nav">
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
    <h3 class="footer-title">(c) CleverUA</h3>
  </aside>
  <div id="main-content">

    <main class="main main-calendar">
      <div class="fluid-container">
        <div class="calendar-week">
          <div class="calendar-week__top">
            <ul>
              <li class="calendar-week__year">
                <a (click)="changeYear(currentDay.year() - 1)">{{currentDay.year() - 1}}</a>
              </li>
              <li *ngFor="let monthName of monthsArray; let i = index" [ngClass]="{'calendar-week--active': i == currentDay.month(), 'calendar-week__future': i > today.month() && currentDay.year() == today.year() }" (click)="changeMonth(i)">
                <a>{{ monthName }}</a>
              </li>
            </ul>
          </div>

          <div class="calendar-week__calendar">
            <h1 class="calendar-week__calendar-title">{{currentDay.format("MMMM DD") }}</h1>

            <nav class="calendar-week__calendar-nav">
              <ul>
                <li class="active"><a>Day</a></li>
                <li><a>Week</a></li>
              </ul>
            </nav>

            <div class="calendar-week__calendar-holder" >
              <div class="calendar-week__calendar-week" *ngFor="let weekArray of arrDaysInMonth; let last = last" [ngClass]="{'calendar-week__calendar-week-last': last}">
                <ul >
                  <li *ngFor="let day of weekArray"> {{day.format('dd')}}
                    <button class="calendar-week__calendar-btn" [ngClass]="{'calendar-week__calendar-btn--active': today.date() == day.date() }" (click)="changeDate(day.format('DD-MM-YY'))">{{day.format('D')}}</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <table class="ccalendar__week-table">
            <tr class="ccalendar__week-table-days">
              <td>Monday</td>
              <td>Tuesday</td>
              <td>Wednesday</td>
              <td>Thursday</td>
              <td>Friday</td>
              <td>Saturday</td>
              <td>Sunday</td>
            </tr>

            <ng-container *ngFor="let weekArray of arrayForTilesOfMonth">
              <tr class="calendar-week__sector-static">
                <ng-container *ngFor="let day of weekArray">
                  <td class="calendar-week__sector--first" [ngClass]="{ 'calendar-day__event-desc--active': day.format('DD-MM-YY') == currentDay.format('DD-MM-YY') }">
                    <h5>{{day.format('D')}}</h5>
                    <button (click)="changeDate(day.format('DD-MM-YY'))" class="calendar-week__sector-btn">
                      <span class="orange-border"></span>
                      7:00</button>
                  </td>
                </ng-container>
              </tr>

              <ng-container *ngIf="showTimers(weekArray)">
                <tr>
                  <td colspan="7">
                    <div class="calendar-day__holder-tasks">
                      <h5><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i> Tasks</h5>
                      <!--<app-timer-form></app-timer-form>-->
                    </div>
                  </td>
                </tr>
              </ng-container>

            </ng-container>

          </table>
        </div>
      </div>
    </main>
  </div>
</div>
</body>

