<div class="main-task__item main-task__item-active" tabindex="0">
  <form>
    <div class="main-task__item-title">
      <textarea name="text"  data="rezine"></textarea>
    </div>
    <div class="main-task__item-select">
      <select>
        <option>tuna-timer copy</option>
        <option>android_demo_release</option>
        <option>builds copy</option>
        <option>applesrss copy</option>
        <option>files</option>
      </select>
    </div>
    <div class="main-task__btn-active"></div>
    <div class="main-task__item-hour">
      <!-- При клике должно включаться это поле для редактирования  активного поля не знаю нужно оно или нет но пусть будет закомментировано-->
      <!-- <textarea name="hour"></textarea> -->
    </div>
  </form>
  <button class="main-task__close"></button>
</div>

<div class="main-task__item" tabindex="0">
  <form>
    <div class="main-task__item-title">
      <h4>Service items of the wizard elements should be set to the submission json after submission created</h4>
    </div>
    <div class="main-task__item-select">
      <select>
        <option>tuna-timer copy</option>
        <option>android_demo_release</option>
        <option>builds copy</option>
        <option>applesrss copy</option>
        <option>files</option>
      </select>
    </div>
    <app-tracking-button></app-tracking-button>
    <div class="main-task__item-hour">
      <h3>1:50 h</h3>
    </div>
  </form>
</div>
